body {
  font-family: -apple-system,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  background-color: #FAFAFA;
}
h1, h2, h3, h4, h5, h6 {
  font-feature-settings: "palt";
}