---
import { Picture } from "astro:assets";
import heroImage from "assets/1000_F_409662420_fmM2KJmeNTZOCcNTpZZZsExBq7uSt6rP.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-2xl lg:text-3xl xl:text-4xl font-bold tracking-wide antialiased">
      情報を活かし、業務を円滑に。<br />事業の可能性をMAX引き出す<br
      />ソリューション。
    </h1>
    <p class="text-sm mt-4 text-slate-600 max-w-xl">
      事業を加速させる、人を活かす情報システム
    </p>
  </div>
</main>
